<a href="https://colab.research.google.com/github/Hoa20146128/BaitapAI_week1/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
value1 = input('Nhập vào số thứ nhất: ')

Nhập vào số thứ nhất: 7

In [ ]:
value2 = input('Nhập vào số thứ hai: ')

Nhập vào số thứ hai: 3

In [ ]:
value1 + value2

'73'

In [ ]:
int(value1) + int(value2)

10

In [ ]:
# nhập dữ liệu bằng Write
with open ('text.txt', mode = 'w') as account:
  account.write('201462 Nguyen Ngoc Hoa 8.0 \n')
  account.write('201462 Le Van Tan      9.0 \n')
  account.write('201462 Le Van T        6.8 \n')
  account.write('201462 Le Van Tí       7.6 \n')
  account.write('201462 Le Van Tn       9.9 \n')
  account.write('201462 ha Van Tan      9.0 \n')
  account.write('201462 Le Thi Tan      8.0 \n')
  account.write('201462 Ve Van Tan      7.9 \n')
  account.write('201462 Le Van Tan      6.0 \n')
  account.write('201462 Le Van Tan      7.0 \n')
  account.write('201462 Le Van Tan      6.0 \n')

In [ ]:
# nhập dữ liệu bằng Print
with open ('text1.txt', mode = 'w') as account:
  print('201462 Nguyễn Văn A  8.0', file = account)

In [ ]:
with open ('text1.txt', mode = 'r') as account:
  print(f'{"MSSV":<10}{"Name":<20}{"Score":>4}')
  for record in account:
    mssv, name, score = record.split()
    print(f'{mssv:<10}{name:<20}{score:>4}')

MSSV      Name                Score

In [ ]:
import pandas as pd
url = 'week1.csv'
dataframe = pd.read_csv(url)
dataframe.head(10)
#dataframe.shape # xem số hàng số cột
#dataframe.describe() #cho biết thông tin dữ liệu
dataframe.iloc[10] #lấy dữ liệu tại hàng số  10
#dataframe.iloc[0:4]#lấy dữ liệu tại hàng số 0 đến 4
dataframe.iloc[:4] #lấy dữ liệu tại hàng số 0 đến 4
frame = dataframe.set_index(dataframe['Họ và tên'])
frame.loc['Ngọc G']

MSSV         21544865
Họ và tên      Ngọc G
Khóa               15
Khoa              ckm
Điểm                3
Name: Ngọc G, dtype: object

In [ ]:
#truy xuất tại hàm họ và tên
frame = dataframe.set_index(dataframe['Họ và tên'])
frame.loc['Ngọc G']

MSSV         21544865
Họ và tên      Ngọc G
Khóa               15
Khoa              ckm
Điểm                3
Name: Ngọc G, dtype: object

In [ ]:
#truy xuất tại những hàng có điểm 8
#chú ý: số không cần ''
dataframe[dataframe['Điểm']==8].head(10)

       MSSV        Họ và tên  Khóa Khoa  Điểm
0   2105365  Nguyễn Bán Nhàn    20  ckm     8
1   1548622     Ng Ngọc Nhân    13   kt     8
17      215             Lê R    14   kt     8

In [ ]:
#truy xuất những hàng có Khoa ckm
#chú ý: chữ cần có dấu nháy''
dataframe[dataframe['Khoa']=='ckm'].head(10)

        MSSV        Họ và tên  Khóa Khoa  Điểm
0    2105365  Nguyễn Bán Nhàn    20  ckm     8
6     265692    Hoàng Văn Báo    20  ckm     7
9     311636             Lê B    13  ckm     4
12  21544865           Ngọc G    15  ckm     3
15     21325          Hoàng R    16  ckm     2
18    476136             Tê t    13  ckm     2

In [ ]:
#truy xuất những dữ liệu
dataframe[(dataframe['Khoa']=='ckm')&(dataframe['Khóa']<20)]

        MSSV Họ và tên  Khóa Khoa  Điểm
9     311636      Lê B    13  ckm     4
12  21544865    Ngọc G    15  ckm     3
15     21325   Hoàng R    16  ckm     2
18    476136      Tê t    13  ckm     2

In [ ]:
dataframe[(dataframe['Khoa']=='ckm')|(dataframe['Khóa']<20)]

        MSSV        Họ và tên  Khóa  Khoa  Điểm
0    2105365  Nguyễn Bán Nhàn    20   ckm     8
1    1548622     Ng Ngọc Nhân    13    kt     8
3    5631568    Nguyến Vươn A    15  cckm     4
5   13652215       Lê Mua Đất    19    kt     5
6     265692    Hoàng Văn Báo    20   ckm     7
9     311636             Lê B    13   ckm     4
10    121841          Nuyên C    15   ckd     9
11      2315             Lê N    19    kt     9
12  21544865           Ngọc G    15   ckm     3
13   2131352         Nguyễn G    18    kt     4
14    213215             Lê K    17   ckd     6
15     21325          Hoàng R    16   ckm     2
16     23135          Hoàng L    15   ckd     6
17       215             Lê R    14    kt     8
18    476136             Tê t    13   ckm     2

In [ ]:
dataframe['Khóa'].min()

13

In [ ]:
dataframe['Khóa'].max()

46

In [ ]:
dataframe['Điểm'].mean()

5.842105263157895

In [ ]:
dataframe['Khoa'].unique()

array(['ckm', 'kt', 'ckd', 'cckm'], dtype=object)

In [ ]:
#đếm số lượng thành viên trong mỗi khoa  trùng nhau
dataframe['Khoa'].value_counts()

ckm     6
kt      6
ckd     6
cckm    1
Name: Khoa, dtype: int64

In [ ]:
dataframe['Điểm'].count()

19

In [ ]:
dataframe['Điểm'].sum()

111

In [ ]:
dataframe.drop('Khoa',axis = 1). head(20)

        MSSV        Họ và tên  Khóa  Điểm
0    2105365  Nguyễn Bán Nhàn    20     8
1    1548622     Ng Ngọc Nhân    13     8
2     155564      Lên Văn Tới    46     6
3    5631568    Nguyến Vươn A    15     4
4     136359   Nguyễn Bán Nhà    31     9
5   13652215       Lê Mua Đất    19     5
6     265692    Hoàng Văn Báo    20     7
7     313663          Nguyễn     21     5
8     136632         Nguyễn A    22     6
9     311636             Lê B    13     4
10    121841          Nuyên C    15     9
11      2315             Lê N    19     9
12  21544865           Ngọc G    15     3
13   2131352         Nguyễn G    18     4
14    213215             Lê K    17     6
15     21325          Hoàng R    16     2
16     23135          Hoàng L    15     6
17       215             Lê R    14     8
18    476136             Tê t    13     2

In [ ]:
dataframe.drop(['Khoa','Khóa'],axis =1).head(20)

        MSSV        Họ và tên  Điểm
0    2105365  Nguyễn Bán Nhàn     8
1    1548622     Ng Ngọc Nhân     8
2     155564      Lên Văn Tới     6
3    5631568    Nguyến Vươn A     4
4     136359   Nguyễn Bán Nhà     9
5   13652215       Lê Mua Đất     5
6     265692    Hoàng Văn Báo     7
7     313663          Nguyễn      5
8     136632         Nguyễn A     6
9     311636             Lê B     4
10    121841          Nuyên C     9
11      2315             Lê N     9
12  21544865           Ngọc G     3
13   2131352         Nguyễn G     4
14    213215             Lê K     6
15     21325          Hoàng R     2
16     23135          Hoàng L     6
17       215             Lê R     8
18    476136             Tê t     2

In [ ]:
dataframe.drop(dataframe.columns[0:4], axis =1).head(20)

    Điểm
0      8
1      8
2      6
3      4
4      9
5      5
6      7
7      5
8      6
9      4
10     9
11     9
12     3
13     4
14     6
15     2
16     6
17     8
18     2

In [ ]:
dataframe.drop('Khoa',axis = 1). head(20)

        MSSV        Họ và tên  Khóa  Điểm
0    2105365  Nguyễn Bán Nhàn    20     8
1    1548622     Ng Ngọc Nhân    13     8
2     155564      Lên Văn Tới    46     6
3    5631568    Nguyến Vươn A    15     4
4     136359   Nguyễn Bán Nhà    31     9
5   13652215       Lê Mua Đất    19     5
6     265692    Hoàng Văn Báo    20     7
7     313663          Nguyễn     21     5
8     136632         Nguyễn A    22     6
9     311636             Lê B    13     4
10    121841          Nuyên C    15     9
11      2315             Lê N    19     9
12  21544865           Ngọc G    15     3
13   2131352         Nguyễn G    18     4
14    213215             Lê K    17     6
15     21325          Hoàng R    16     2
16     23135          Hoàng L    15     6
17       215             Lê R    14     8
18    476136             Tê t    13     2

In [ ]:
#xóa khóa 20
dataframe[dataframe['Khóa']!=20].head(20)

        MSSV       Họ và tên  Khóa  Khoa  Điểm
1    1548622    Ng Ngọc Nhân    13    kt     8
2     155564     Lên Văn Tới    46   ckd     6
3    5631568   Nguyến Vươn A    15  cckm     4
4     136359  Nguyễn Bán Nhà    31   ckd     9
5   13652215      Lê Mua Đất    19    kt     5
7     313663         Nguyễn     21   ckd     5
8     136632        Nguyễn A    22    kt     6
9     311636            Lê B    13   ckm     4
10    121841         Nuyên C    15   ckd     9
11      2315            Lê N    19    kt     9
12  21544865          Ngọc G    15   ckm     3
13   2131352        Nguyễn G    18    kt     4
14    213215            Lê K    17   ckd     6
15     21325         Hoàng R    16   ckm     2
16     23135         Hoàng L    15   ckd     6
17       215            Lê R    14    kt     8
18    476136            Tê t    13   ckm     2

In [ ]:
dataframe[dataframe['Khoa']!='ckm'].head(20)

        MSSV       Họ và tên  Khóa  Khoa  Điểm
1    1548622    Ng Ngọc Nhân    13    kt     8
2     155564     Lên Văn Tới    46   ckd     6
3    5631568   Nguyến Vươn A    15  cckm     4
4     136359  Nguyễn Bán Nhà    31   ckd     9
5   13652215      Lê Mua Đất    19    kt     5
7     313663         Nguyễn     21   ckd     5
8     136632        Nguyễn A    22    kt     6
10    121841         Nuyên C    15   ckd     9
11      2315            Lê N    19    kt     9
13   2131352        Nguyễn G    18    kt     4
14    213215            Lê K    17   ckd     6
16     23135         Hoàng L    15   ckd     6
17       215            Lê R    14    kt     8

In [ ]:
#xóa hàng 4
dataframe[dataframe.index !=4].head(20)

        MSSV        Họ và tên  Khóa  Khoa  Điểm
0    2105365  Nguyễn Bán Nhàn    20   ckm     8
1    1548622     Ng Ngọc Nhân    13    kt     8
2     155564      Lên Văn Tới    46   ckd     6
3    5631568    Nguyến Vươn A    15  cckm     4
5   13652215       Lê Mua Đất    19    kt     5
6     265692    Hoàng Văn Báo    20   ckm     7
7     313663          Nguyễn     21   ckd     5
8     136632         Nguyễn A    22    kt     6
9     311636             Lê B    13   ckm     4
10    121841          Nuyên C    15   ckd     9
11      2315             Lê N    19    kt     9
12  21544865           Ngọc G    15   ckm     3
13   2131352         Nguyễn G    18    kt     4
14    213215             Lê K    17   ckd     6
15     21325          Hoàng R    16   ckm     2
16     23135          Hoàng L    15   ckd     6
17       215             Lê R    14    kt     8
18    476136             Tê t    13   ckm     2

In [ ]:
#nhóm lại những dữ liệu giống nhau
dataframe.groupby('Khoa').head(20)

        MSSV        Họ và tên  Khóa  Khoa  Điểm
0    2105365  Nguyễn Bán Nhàn    20   ckm     8
1    1548622     Ng Ngọc Nhân    13    kt     8
2     155564      Lên Văn Tới    46   ckd     6
3    5631568    Nguyến Vươn A    15  cckm     4
4     136359   Nguyễn Bán Nhà    31   ckd     9
5   13652215       Lê Mua Đất    19    kt     5
6     265692    Hoàng Văn Báo    20   ckm     7
7     313663          Nguyễn     21   ckd     5
8     136632         Nguyễn A    22    kt     6
9     311636             Lê B    13   ckm     4
10    121841          Nuyên C    15   ckd     9
11      2315             Lê N    19    kt     9
12  21544865           Ngọc G    15   ckm     3
13   2131352         Nguyễn G    18    kt     4
14    213215             Lê K    17   ckd     6
15     21325          Hoàng R    16   ckm     2
16     23135          Hoàng L    15   ckd     6
17       215             Lê R    14    kt     8
18    476136             Tê t    13   ckm     2

In [ ]:
dataframe.groupby(['Khóa','Khoa']).count()

           MSSV  Họ và tên  Điểm
Khóa Khoa
13   ckm      2          2     2
     kt       1          1     1
14   kt       1          1     1
15   cckm     1          1     1
     ckd      2          2     2
     ckm      1          1     1
16   ckm      1          1     1
17   ckd      1          1     1
18   kt       1          1     1
19   kt       2          2     2
20   ckm      2          2     2
21   ckd      1          1     1
22   kt       1          1     1
31   ckd      1          1     1
46   ckd      1          1     1

In [ ]:
import numpy as np
import pandas as pd
time = pd.date_range('01/01/2023', periods = 100000, freq = '30s')
dataframe = pd.DataFrame(index = time)
dataframe['Acess_Amount'] = np.random.randint(1, 10, 100000)
dataframe.resample('w').sum()

            Acess_Amount
2023-01-01         14255
2023-01-08        100941
2023-01-15        100753
2023-01-22        100346
2023-01-29        100650
2023-02-05         82350

In [4]:
import pandas as pd
url ='http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [ ]:
data[data['City']=='Chamonix'].head(50)

In [ ]:
data['Medal'].value_counts()

Gold      774
Silver    773
Bronze    764
Name: Medal, dtype: int64

In [16]:
data[(data['Year']>=2004)&(data['City']=='Turin')&(data['Year']<=2008)]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
2059,2006,Turin,Skiing,Freestyle Ski.,AUS,aerials,W,Bronze
2060,2006,Turin,Skiing,Freestyle Ski.,AUS,moguls,M,Gold
2061,2006,Turin,Luge,Luge,AUT,doubles,X,Gold
2062,2006,Turin,Skiing,Alpine Skiing,AUT,Alpine combined,M,Bronze
2063,2006,Turin,Skiing,Alpine Skiing,AUT,Alpine combined,W,Silver
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [22]:
data[(data['Year']>=2004)&(data['City']=='Turin')&(data['Year']<=2008)].count()
# tổng từ năm 2004 đến năm 2006 tại thành phố Turin có 252 huy chương các loại

Year            252
City            252
Sport           252
Discipline      252
NOC             252
Event           252
Event gender    252
Medal           252
dtype: int64

In [23]:
data[(data['Year']>=2004)&(data['City']=='Turin')&(data['Year']<=2008)&(data['Medal']=='Gold')].count()

Year            84
City            84
Sport           84
Discipline      84
NOC             84
Event           84
Event gender    84
Medal           84
dtype: int64

In [26]:
data[(data['Year']>=2004)&(data['City']=='Turin')&(data['Year']<=2008)&(data['Medal']=='Silver')].count()

Year            84
City            84
Sport           84
Discipline      84
NOC             84
Event           84
Event gender    84
Medal           84
dtype: int64

In [27]:
data[(data['Year']>=2004)&(data['City']=='Turin')&(data['Year']<=2008)&(data['Medal']=='Bronze')].count()

Year            84
City            84
Sport           84
Discipline      84
NOC             84
Event           84
Event gender    84
Medal           84
dtype: int64

In [31]:
data['Sport'].unique()

array(['Skating', 'Bobsleigh', 'Ice Hockey', 'Biathlon', 'Skiing',
       'Curling', 'Luge'], dtype=object)

In [34]:
# Huy chương vàng của môn Skating
data[(data['Year']>=2004)&(data['City']=='Turin')&(data['Year']<=2008)&(data['Sport']=='Skating')&(data['Medal']=='Gold')].count()

Year            24
City            24
Sport           24
Discipline      24
NOC             24
Event           24
Event gender    24
Medal           24
dtype: int64

In [35]:
# Huy chương bạc của môn Skating
data[(data['Year']>=2004)&(data['City']=='Turin')&(data['Year']<=2008)&(data['Sport']=='Skating')&(data['Medal']=='Silver')].count()

Year            24
City            24
Sport           24
Discipline      24
NOC             24
Event           24
Event gender    24
Medal           24
dtype: int64

In [36]:
# Huy chương đồng của môn Skating
data[(data['Year']>=2004)&(data['City']=='Turin')&(data['Year']<=2008)&(data['Sport']=='Skating')&(data['Medal']=='Bronze')].count()

Year            24
City            24
Sport           24
Discipline      24
NOC             24
Event           24
Event gender    24
Medal           24
dtype: int64

In [37]:
# Huy chương vàng của môn Bobsleigh
data[(data['Year']>=2004)&(data['City']=='Turin')&(data['Year']<=2008)&(data['Sport']=='Bobsleigh')&(data['Medal']=='Gold')].count()

Year            5
City            5
Sport           5
Discipline      5
NOC             5
Event           5
Event gender    5
Medal           5
dtype: int64

In [38]:
# Huy chương bạc của môn Bobsleigh
data[(data['Year']>=2004)&(data['City']=='Turin')&(data['Year']<=2008)&(data['Sport']=='Bobsleigh')&(data['Medal']=='Silver')].count()

Year            5
City            5
Sport           5
Discipline      5
NOC             5
Event           5
Event gender    5
Medal           5
dtype: int64

In [50]:
# Huy chương đồng của môn Bobsleigh
data[(data['Year']>=2004)&(data['City']=='Turin')&(data['Year']<=2008)&(data['Sport']=='Bobsleigh')&(data['Medal']=='Bronze')].count()

Year            5
City            5
Sport           5
Discipline      5
NOC             5
Event           5
Event gender    5
Medal           5
dtype: int64

In [40]:
# Huy chương vàng của môn Ice Hockey
data[(data['Year']>=2004)&(data['City']=='Turin')&(data['Year']<=2008)&(data['Sport']=='Ice Hockey')&(data['Medal']=='Gold')].count()

Year            2
City            2
Sport           2
Discipline      2
NOC             2
Event           2
Event gender    2
Medal           2
dtype: int64

In [41]:
# Huy chương bạc của môn Ice Hockey
data[(data['Year']>=2004)&(data['City']=='Turin')&(data['Year']<=2008)&(data['Sport']=='Ice Hockey')&(data['Medal']=='Silver')].count()

Year            2
City            2
Sport           2
Discipline      2
NOC             2
Event           2
Event gender    2
Medal           2
dtype: int64

In [51]:
# Huy chương đồng của môn Ice Hockey
data[(data['Year']>=2004)&(data['City']=='Turin')&(data['Year']<=2008)&(data['Sport']=='Ice Hockey')&(data['Medal']=='Bronze')].count()

Year            2
City            2
Sport           2
Discipline      2
NOC             2
Event           2
Event gender    2
Medal           2
dtype: int64

In [43]:
# Huy chương vàng của môn Biathlon
data[(data['Year']>=2004)&(data['City']=='Turin')&(data['Year']<=2008)&(data['Sport']=='Biathlon')&(data['Medal']=='Gold')].count()

Year            10
City            10
Sport           10
Discipline      10
NOC             10
Event           10
Event gender    10
Medal           10
dtype: int64

In [45]:
# Huy chương bạc của môn Biathlon
data[(data['Year']>=2004)&(data['City']=='Turin')&(data['Year']<=2008)&(data['Sport']=='Biathlon')&(data['Medal']=='Silver')].count()

Year            10
City            10
Sport           10
Discipline      10
NOC             10
Event           10
Event gender    10
Medal           10
dtype: int64

In [52]:
# Huy chương đồng của môn Biathlon
data[(data['Year']>=2004)&(data['City']=='Turin')&(data['Year']<=2008)&(data['Sport']=='Biathlon')&(data['Medal']=='Bronze')].count()

Year            10
City            10
Sport           10
Discipline      10
NOC             10
Event           10
Event gender    10
Medal           10
dtype: int64

In [47]:
# Huy chương vàng của môn Skiing
data[(data['Year']>=2004)&(data['City']=='Turin')&(data['Year']<=2008)&(data['Sport']=='Skiing')&(data['Medal']=='Gold')].count()

Year            38
City            38
Sport           38
Discipline      38
NOC             38
Event           38
Event gender    38
Medal           38
dtype: int64

In [48]:
# Huy chương bạc của môn Skiing
data[(data['Year']>=2004)&(data['City']=='Turin')&(data['Year']<=2008)&(data['Sport']=='Skiing')&(data['Medal']=='Silver')].count()

Year            38
City            38
Sport           38
Discipline      38
NOC             38
Event           38
Event gender    38
Medal           38
dtype: int64

In [53]:
# Huy chương đồng của môn Skiing
data[(data['Year']>=2004)&(data['City']=='Turin')&(data['Year']<=2008)&(data['Sport']=='Skiing')&(data['Medal']=='Bronze')].count()

Year            38
City            38
Sport           38
Discipline      38
NOC             38
Event           38
Event gender    38
Medal           38
dtype: int64